DeploymentFile/application_files/datatype/%7Burn%3Acom%3Aappian%3Atypes%7DDeployment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types"
  xmlns:tns="urn:com:appian:types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Deployment">
    <xsd:sequence>
      <xsd:element name="Id" nillable="true" type="xsd:int"/>
      <xsd:element name="Name" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
